{% extends 'template.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block banner %}
<br><br>
<div class="text-center my-5">
    <h3>Edit Comment</h3>

    {{ include('admin_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_comment_index') }}">back to list</a>
</div>
{% endblock %}
